body{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: purple;
  z-index: -1;
}

//The screens
#game-intro{
  visibility: visible;
}

#in-game{
  top: 0;
  left: 0;
  visibility: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: red;
}

#game-end{
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  // opacity: .6;

  display: flex;
  justify-content: center;
  align-items: center;

  .modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 70%;
    background: white;
    z-index: 999;
  }
}

//game elements

#timebar {
  display: block;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  margin: 0 auto;
  background: green;
  width: 100%;
  height: 10px;
}
